body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px; /* تقليل الهوامش */
    background-color: #1a1a1a; 
    color: #fff; 
}

h1 {
    text-align: center;
    margin: 10px 0; /* تقليل الهوامش العلوية والسفلية */
}

select, button {
    display: block;
    margin: 5px auto; /* تقليل المسافة بين العناصر */
    padding: 8px; /* تقليل الحشوة */
    background-color: #333; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px; /* عرض أصغر */
}

button:hover {
    background-color: #555; 
}
